@media (max-width: 768px) {
  body {
    height: 100%;
    padding: 30px 10px;
  }
  .app {
    width: auto;
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
  }

  .left {
    margin-bottom: 50px;
  }
}

@media (max-width: 400px) {
  .item {
    width: 25%;
    height: 30px;
    margin-right: 10px;
  }
}
